*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Orbitron',sans-serif;
}

body{
background:#020617;
color:white;
overflow-x:hidden;
}

/* PARTICLES */
#tsparticles{
position:fixed;
width:100%;
height:100%;
z-index:-1;
}

/* LOADER */
#loader{
position:fixed;
width:100%;
height:100%;
background:#020617;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
z-index:999;
}

.spinner{
width:40px;
height:40px;
border:4px solid #1e293b;
border-top:4px solid #22c55e;
border-radius:50%;
animation:spin 1s linear infinite;
}

@keyframes spin{
100%{transform:rotate(360deg);}
}

/* LOGIN */
.login{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.login-box{
background:#08101f;
padding:25px;
border-radius:15px;
width:90%;
max-width:350px;
text-align:center;
}

.login-box input{
width:100%;
padding:12px;
margin:8px 0;
background:#020617;
border:none;
color:white;
border-radius:10px;
}

.login-box button{
width:100%;
padding:12px;
background:#22c55e;
border:none;
color:white;
font-weight:bold;
border-radius:10px;
}

/* HEADER */
header{
display:flex;
justify-content:space-between;
padding:15px;
background:#08101f;
}

/* NAV */
.nav{
display:flex;
justify-content:space-around;
padding:10px;
}

.nav button{
background:#0f172a;
border:none;
padding:10px;
color:white;
border-radius:8px;
}

/* HERO */
.hero{
padding:20px;
}

.hero span{color:#3b82f6}

/* QUOTES */
.quotes{
text-align:center;
height:40px;
position:relative;
}

.q{
position:absolute;
width:100%;
opacity:0;
transition:.5s;
}

.q.active{opacity:1}

/* GRID */
.grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:10px;
padding:15px;
}

.vpn{
background:#08101f;
padding:18px;
text-align:center;
border-radius:10px;
cursor:pointer;
}

/* VIP */
.vip-box{
padding:15px;
text-align:center;
}

.vip-box input{
padding:10px;
width:80%;
margin:10px;
}

/* OWNER */
.owner{
padding:15px;
background:#08101f;
margin:15px;
border-radius:10px;
}

/* LINKS */
.wa,.channel{
display:block;
margin:15px;
padding:15px;
text-align:center;
color:white;
text-decoration:none;
border-radius:10px;
}

.wa{background:#25D366}
.channel{background:#2563eb}

/* MODAL */
.modal{
display:none;
position:fixed;
width:100%;
height:100%;
background:rgba(0,0,0,.8);
justify-content:center;
align-items:center;
}

.box{
background:#08101f;
padding:20px;
border-radius:15px;
text-align:center;
}

/* TOAST */
#toast{
position:fixed;
bottom:20px;
left:50%;
transform:translateX(-50%);
background:#22c55e;
padding:10px 20px;
border-radius:10px;
opacity:0;
transition:.3s;
}

#toast.show{
opacity:1;
}